<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mach Flow</title>
</head>
<body>
{% block inputs %}
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <select name="pre_file">
            <option value="0">Pre select</option>
            {% for file in pre_selected %}
                <option vale="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
        <label for="aoa" value="AoA"></label>
        <input type="text" name="aoa" id="aoa" value="0">
        <input type="submit" value="Submit">
    </form>
    <h1>MachFlow 2022</h1>
    <p>
        <b>MachFlow is a graph convolutional neural network to predict the pressure coefficient over an arbitrary 3D
            surface,
            specifically trained against 3d wings. To the best of my knowledge it is the first work applying GCNNs to 3D
            aerodynamic problems</b>
    </p>
    <p>
        <b>The predictions produced here are run in realtime on the neural net on an AWS EC2 instance</b>
    </p>
    <ol>
        <li>Select from the list or load your own .stl (see limitations)</li>
        <li>Enter an integer in the field for your angle of attack</li>
        <li>Submit and wait for results (if more than 30 seconds it has likely fallen over with too big an .stl)</li>
    </ol>
    <p><h2>Existing limitations</h2>
    <ul>
        <li>For this demo all predictions are made at M0.7</li>
        <li>The .stl file must contain enough vertices to solve against. If you want to try this use subdivide in
            blender and export
        </li>
        <li>Due to the memory limitations on the server (I'm not made of money) large .stl files (>5Mb) are not allowed
        </li>
        <li>Force coefficient calculations to come on the web interface soon</li>
    </ul></p>
{% endblock %}
{% if result %}
    <b>Prediction made in {{ prediction_time|round(2) }} secs.</b>
    <p>If the NN was loaded on a GPU it would take less than 0.2secs. A well configured RANS solver on a 40 core CPU node would likely take {{ prediction_time|round(2) * 85  }} secs to
        converge</p>
    {{ snippet | safe }}
    <img src='data:image/png;base64,{{ colourbar | safe }}'/>
{% endif %}
</body>
</html>