<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<div class="container">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Cache-Control" content="no-cache">
        <title>Mach Flow - Sam Berry 2022</title>
    </head>
    <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <b>Errors:</b>
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block inputs %}
        <form action="/" method="POST" enctype="multipart/form-data"
              class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <input type="file" name="file">
            </div>
            <div class="col-12">
                <select name="pre_file">
                    <option value="0">Pre select</option>
                    {% for file in pre_selected %}
                        <option vale="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12">
                <label for="aoa" value="AoA"></label></div>
            <div class="col-12">
                <input type="text" name="aoa" id="aoa" value="0"></div>
            <div class="col-12">
                <input type="submit" value="Submit"></div>
            <input type="hidden" name="width" id="width" value=width>
        </form>
        <script>
            let width = window.innerWidth
            document.getElementById("width").value = width
        </script>
        <h1>MachFlow 2022</h1>

        <p>
            <b>MachFlow is a graph convolutional neural network to predict the pressure coefficient over an arbitrary 3D
                surface,
                specifically trained against 3d wings. To the best of my knowledge it is the first work applying GCNNs
                to 3D
                aerodynamic problems</b>
        </p>
        <p>
            <b>The predictions produced here are run in realtime on the neural net on an AWS EC2 instance</b>
        </p>
        <ol>
            <li>Select from the list or load your own .stl (see limitations)</li>
            <li>Enter an integer in the field for your angle of attack</li>
            <li>Submit and wait for results (if more than 30 seconds it has likely fallen over with too big an .stl)
            </li>
        </ol>
        <p>
        <h2>Existing limitations</h2>
        <ul>
            <li>For this demo all predictions are made at M0.7</li>
            <li>The .stl file must contain enough vertices to solve against. If you want to try this use subdivide in
                blender and export
            </li>
            <li>Due to the memory limitations on the server (I'm not made of money) large .stl files (>5Mb) are not
                allowed
            </li>
            <li>Force coefficient calculations to come on the web interface soon</li>
        </ul>
        </p>
    {% endblock %}
    {% if result %}
        <b>Prediction made in {{ prediction_time|round(2) }} secs.</b>
        <p>If the NN was loaded on a GPU it would take less than 0.2secs. A well configured RANS solver on a 40 core CPU
            node would likely take 5 minutes to
            converge around 3,000 times slower!</p>
        {{ snippet | safe }}
        <img src='data:image/png;base64,{{ colourbar | safe }}'/>
    {% endif %}
    </body>
</div>
</html>